{% extends 'layouts/base.html'%}
{% load static%}
{% block title%}{{products.title}}{% endblock %}




{% block content %}
        <!-- Inne Page Banner Area Start Here -->
        <section class="inner-page-banner bg-common" data-bg-image="{% static 'img/figure/inner-page-banner1.jpg'%}">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs-area">
                            <h1>Single Product Page</h1>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>Product Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Inne Page Banner Area End Here -->
        <!-- Single Shop Page Area Start Here -->
        <section class="single-shop-page-wrap padding-top-80 padding-bottom-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-12">
                        <div class="single-shop-figure-view">
                            <div class="row">
                                <div class="col-lg-9 col-12 order-lg-2">
                                    <div class="tab-content">
                                        {% for image in product.images.all %}
                                            <div class="tab-pane fade {% if forloop.first %}active show{% endif %}" id="related{{ forloop.counter }}">
                                                <a href="#"><img alt="single" src="{{ image.product_images.url }}" data-zoom-image="{{ image.product_images.url }}"></a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-lg-3 col-12 order-lg-1">
                                    <ul class="nav tab-nav tab-nav-list">
                                        {% for image in product.product_images.all %}
                                            <li class="nav-item">
                                                <a {% if forloop.first %} class="active"
                                                   {% endif %} href="#related{{ forloop.counter }}" data-toggle="tab"
                                                   aria-expanded="false"><img alt="related1" src="{{ image.product_images.url }}" class="img-fluid"></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-12">
                        <div class="single-shop-content">
                            <h2 class="item-title">{{product.title}}</h2>
                            <ul class="item-rate">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><a href="#">( 01 Reviews )</a></li>
                            </ul>
                            <div class="item-price">${{product.discount_price }}<span>${{product.price}}</span></div>
                            <ul class="entry-meta">
                                <li>SKU: <span>{{product.sku}}</span></li>
                                <li>Availablity: <span>{% if product.is_stock%} Instock {% else %}Not Available
                                    {% endif %} </span></li>
                                <li>Category: <br>
                                    {% for cat in product.categories.all %}
                                    <a href="#"><b> {{cat.title}}</b></a>,<br>
                                    {% endfor%}
                                </li>
                            </ul>
                            <ul class="item-social">
                                <li>Share With:</li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            </ul>
                            <p class="item-details">{{ product.short_description }}</p>
                            <ul class="action-area1">
                                <li id="quantity-holder">
                                    <div class="input-group quantity-holder">
                                        <input type="text" name='quantity' class="form-control quantity-input" value="1" placeholder="1">
                                        <div class="input-group-btn">
                                            <button class="quantity-btn quantity-plus" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                            <button class="quantity-btn quantity-minus" type="button"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="cart-btn">ADD TO CART</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="single-shop-description">
                            <ul class="nav nav-tabs tab-nav-list">
                                <li class="nav-item">
                                    <a class="active" href="#related5" data-toggle="tab" aria-expanded="false">Description</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="related5">
                                    {{product.long_description}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="related-product">
                    <div class="section-heading heading-dark">
                        <h2 class="item-heading">REALATED PRODUCTS</h2>
                    </div>
                    <div class="rc-carousel dot-control-layout1" data-loop="true" data-items="9" data-margin="30"
                        data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="700" data-dots="true"
                        data-nav="false" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="false"
                        data-r-x-small-dots="true" data-r-x-medium="2" data-r-x-medium-nav="false" data-r-x-medium-dots="true"
                        data-r-small="2" data-r-small-nav="false" data-r-small-dots="true" data-r-medium="3"
                        data-r-medium-nav="false" data-r-medium-dots="true" data-r-large="4" data-r-large-nav="false"
                        data-r-large-dots="true" data-r-extra-large="4" data-r-extra-large-nav="false"
                        data-r-extra-large-dots="true">


                        {% for r in related_product %}
                             <div class="shop-box-layout1">
                            <div class="mask-item bg--accent">
                                <div class="item-figure">
                                    <img src="{{ r.images.url}}" alt="Product">
                                </div>
                                <ul class="action-items">
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-exchange-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item-content">
                                <h3 class="item-title"><a href="single-shop.html">{{r.title}}</a></h3>
                                <div class="item-price"><span class="currency">$</span>{{r.price}}</div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </section>
        <!-- Single Shop Page Area End Here -->
{% endblock %}